<div class = "modal-dialog modal-lg modal-dialog-center">
  <div class = "modal-content">
    <div class = "modal-header">
      <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
        <span aria-hidden = "true">&times;</span>
      </button>
    </div>
    
    <div class = "modal-body">
      <div class = "row">
        <div class = "col-md-12">
          <h1>所属長承認画面</h1>
          <%= form_with(model: @user, url: update_approval_to_superior_user_url, local: true, method: :patch) do |f| %>
            <% @apply_users.each do |apply_user| %>
                <div><%= apply_user.name %>の１ヶ月勤怠申請</div>
                <table class = "table table-bordered table-sm table-hover">
                  <thead>
                    <tr>
                      <th rowspan = 3>月</th>
                      <th rowspan = 3>指示者確認</th>
                      <th rowspan = 3>変更</th>
                      <th rowspan = 3 >勤怠を確認する</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= l(apply_user.apploval_month.to_date, format: :month) if apply_user.apploval_month.present? %></td>
                      <td><%= f.select :approval_information, [["なし", 0],["申請中", 1], ["承認", 2], ["否認", 3]] %></td>
                      <td><%= f.check_box :change_approval, {}, true, false %></td>
                      <td><%= link_to "確認する", user_path(apply_user), class: "btn btn-success" %></td>
                    </tr>
                  </tbody>
                </table>
            <% end %>
            <div class = "center">
              <%= f.submit "更新", class: "btn btn-primary" %>
              <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> 
