<% provide(:class_text, 'basic-time-info') %>
<% provide(:btn_text, '更新') %>

<h1 class = "edit-time-title">基本情報の更新（全ユーザー）</h1>
<div class = "edit-time-body">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <%= form_with(model: @users, url: users_update_time_info_path(@users), local: true, method: :patch) do |f| %>
        
        <%= f.label t('.basic_time'), class: "label-#{yield(:class_text)}" %>
        <%= f.time_field :basic_time, class: "form-control" %>
        
        <%= f.label t('.work_time'), class: "label-#{yield(:class_text)}" %>
        <%= f.time_field :work_time, class: "form-control" %>
        
        <div class = "center">
          <%= f.submit yield(:btn_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
          <button type = "button" class = "btn btn-default btn-<%= yield(:class_text) %>" data-dismiss = "modal">
            キャンセル
          </button>
        </div>
      <% end %>
    </div>  
  </div>
</div>