<% provide(:title, @user.name) %>
<div>
  <table class = "table table-bordered table-condensed user-table">
    <tr>
      <td>【<%= l(@first_day, format: :middle) %>勤怠管理表】</td>
      <td>指定勤務時間<%= format_basic_info(@user.work_time) %></td>
      <td>基本時間<%= format_basic_info(@user.basic_work_time) %></td>
      <td>月初日:<%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属:<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前:<%= @user.name %></td>
      <td>出勤日数:<%= @worked_sum %>日</td>
      <td>月末日:<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<%# 上司が各種申請を確認する %>
<div class = "container">
  <% if @user.superior? %>
    <p>
      <% if @approvals.present? %>
        <%= link_to "【所属長承認のお知らせ】", user_approvals_edit_path(@user), remote: true %>
        <span><%= "[#{@approvals.count}件のお知らせがあります]" %></span>
      <% else %>
        <div>【所属長承認のお知らせ】</div>
      <% end %>
    </p>
    <p>
      <% if @change_attendances.present? %>
        <%= link_to "【勤怠変更申請のお知らせ】", user_attendances_edit_change_attendance_confirmation_path(@user), remote: true  %>
        <span><%= "[#{@change_attendances.count}件のお知らせがあります]" %></span>
      <% else %>
        <div>【勤怠変更申請のお知らせ】</div>
      <% end %>
    </p>
    <p>
      <% if @apply_attendances.present? %>
        <%= link_to "【残業申請のお知らせ】", user_attendances_edit_overtime_confirmation_path(@user), remote: true %>
        <span><%= "[#{@apply_attendances.count}件のお知らせがあります]" %></span>
      <% else %>
        <div>【残業申請のお知らせ】</div>
      <% end %>
    </p>
  <% end %>
</div>

<% if @user == current_user %>
  <div class = "btn-users-show">
    <%= link_to "← 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
    <%= link_to "１ヶ月の勤怠編集へ", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
    <%= link_to "次月へ →", user_path(date: @first_day.next_month), class: "btn btn-info" %>
  </div>
<% end %>

<div>
  <table class = "table table-bordered table-condensed table-hover" id = "table-attendances" >
    <thead>
      <tr>
        <th colspan = "3", rowspan = "2", class = "empty"></th>
        <th colspan = "7">実績</th>
        <th colspan = "5">所定外勤務</th>
      </tr>
      <tr>
        <th rowspan = "2">勤怠登録</th>
        <th colspan = "2">出社</th>
        <th colspan = "2">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">上司確認</th>
      </tr>

      <tr>
        <th>残業申請</th>
        <th>日付</th>
        <th>曜日</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <%# 残業申請ボタンを出社してからしか押せないようにする %>
          <td><%= link_to "残業申請", user_attendances_edit_overtime_application_path(@user, day), remote: true, class: "btn btn-primary " if @user == current_user %>
          <td><%= l(day.worked_on, format: :short) %></td>
          <% case $days_of_the_week[day.worked_on.wday] %>
          <% when "日" then %>
            <td class = "wday_sunday" ><%= $days_of_the_week[day.worked_on.wday] %></td>
          <% when "土" then %>
            <td class = "wday_saturday"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <% else %>
            <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <% end %>
          <td>
          <% if @user == current_user %>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-success btn-attendance" %>
            <% end %>
          <% end %>
          </td>
          <td><%= l(day.started_at.floor_to(15.minutes), format: :hour) if day.started_at.present? %></td>
          <td><%= l(day.started_at.floor_to(15.minutes), format: :minute) if day.started_at.present? %></td>
          <td><%= l(day.finished_at.floor_to(15.minutes), format: :hour) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at.floor_to(15.minutes), format: :minute) if day.finished_at.present? %></td>
          <!-- 在社時間確認する -->
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <% if day.next_day? %>
                <%= str_times = working_times_for_next(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
                <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
              <% else %>
                <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
                <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
              <% end %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= l(display_finish_time(day), format: :hour) if day.started_at.present? && day.finished_at.blank? %></td>          
          <td><%= l(display_finish_time(day), format: :minute) if day.started_at.present? && day.finished_at.blank? %></td>
          <td>
            <% if day.finish_overtime.present? %>
              <%=
                day.next_day? ? calculation_overtime_for_next(day.finish_overtime.floor_to(15.minutes), @user.designated_work_end_time.floor_to(15.minutes)) :
                calculation_overtime(day.finish_overtime.floor_to(15.minutes), @user.designated_work_end_time.floor_to(15.minutes))
              %>
            <% end %>
          </td>
          <td><%= day.business_processing_content %></td>
          <td>
            <%= display_application_information(day) %><br>
            <%= display_change_attendance_information(day) %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <!--rowspan:縦結合, colspan:横結合-->
      <tr class = "table-foot-title">
        <th colspan = "2">合計日数</th>
        <th colspan = "2">総合勤務時間</th>
        <th colspan = "2">累計在社時間</th>
        <th colspan = "2"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      
      <tr>
        <td colspan = "2"><%= @attendances.count %></td>
        <td colspan = "2"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan = "2"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan = "2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <%= form_with(model: @approval, url: user_approvals_update_apply_url(@user, @approval), local: true) do |f| %>
            <%= @approval.approve == true ? "所属長承認 済" : "所属長承認 未" %></p>
            <p><%= f.collection_select :superior_id, @superiors, :id, :name, { :include_blank => true }, :required => true %>
            <%= f.hidden_field :month, :value => @first_day %>
            <%= f.hidden_field :apply, :value => true %>
            <%= f.hidden_field :information, :value => 1 %>
            <p><%= f.submit "申請する" %></p>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<%# モーダルウインドウ表示 %>
<div id = "edit-overtime-application" class = "modal fade" tabindex = "-1" role = "dialog" aria-hidden = "true"></div>
<div id = "edit-overtime-confirmation" class = "modal fade" tabindex = "-1" role = "dialog" aria-hidden = "true"></div>
<div id = "edit-change-attendance-confirmation" class = "modal fade" tabindex = "-1" role = "dialog" aria-hidden = "true"></div>
<div id = "edit" class = "modal fade" tabindex = "-1" role = "dialog" aria-hidden = "true"></div>