
<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class = "modal-dialog modal-lg modal-dialog-center">
	<div class = "modal-content">
		<div class = "modal-header">
			<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
				<span aria-hidden = "true">&times;</span>
			</button>
			
		</div>
		<div class = "modal-body">
			<div class = "row">
				<div class = "col-md-12">
					<%= form_with(model: @attendance, url: user_attendances_update_overtime_application_path(@user, @attendance), local: true, method: :patch) do |f| %>
						<h1 class = "modal-title">残業申請</h1>
						<%= f.label :apply_user_id, @user.name %>
						<%= render 'shared/error_messages', object: @attendance %>

						<table class = "table table-bordered table-sm table-hover">
							<thead>
								<tr>
									<th>日付</th>
									<th>曜日</th>
									<th>終了予定時間</th>
									<th>翌日</th>
									<th>業務処理内容</th>
									<th>上司確認</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td><%= l(@attendance.worked_on, format: :short) %></td>
									<td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
									<td><%= f.time_select :finish_overtime, default: @attendance.worked_on %></td>
									<td><%= f.check_box :next_day, {}, true, false %></td>
									<td><%= f.text_field :business_processing_content %></td>
									<td><%= f.collection_select :receive_superior_id, @superiors, :id, :name, :include_blank => true %></td>
									<%= f.hidden_field :apply_user_id, :value => @user.id %>
									<%= f.hidden_field :application_information, :value => 1 %>
								</tr>
							</tbody>
						</table>
							<div class = "center">
								<%= f.submit "更新", class: "btn btn-primary" %>
								<button type = "button" class = "btn btn-default" data-dismiss = "modal">
									キャンセル
								</button>
							</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
