
<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>

<div class = "modal-dialog modal-lg modal-dialog-center">
	<div class = "modal-content">
		<div class = "modal-header">
			<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
				<span aria-hidden = "true">&times;</span>
			</button>
			<h1 class = "modal-title">残業申請</h1>
		</div>
	</div>
	<div class = "modal-body">
		<div class = "row">
			<div class = "col-md-6 col-md-ofset-3">
				<%= form_with(model: @attendance, url: user_attendances_update_overtime_application_path(@user, @attendance), local: true, method: :patch) do |f| %>
					<%= render 'shared/error_messages', object: @attendance %>

					<table class = "table table-bordered table-condensed table-hover">
						<thead>
							<tr>
								<th>日付</th>
								<th>曜日</th>
								<th>終了予定時間</th>
								<th>翌日</th>
								<th>業務処理内容</th>
								<th>上司確認</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td><%= l(@attendance.worked_on, format: :short) %></td>
								<td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
								<td><%= f.time_field :finish_overtime %></td>
								<td></td>
								<td>f.text_field :</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				<% end %>
			</div>
		</div>
	</div>
</div>
